/* General */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
@font-face {
    font-family: "ComicSans";
    src: url(/fonts/ComicSansMS3.ttf);
}
@font-face {
    font-family: "Martel";
    src: url(/fonts/Martel-Regular.ttf);
}
/* colors */
:root {
    --primary500: #1F2833;
    --primary900: #0B0C10;
    --secondry900: #66FCF1;
    --secondry500: #BAE7D1;
    --accent500: #45A29E;
    --accent900: #2F706D;
    --gray:#C5C6C7;
    --field-background:linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,0.48289738814355865) 47%, rgba(11,12,16,1) 100%);
    --background: linear-gradient(180deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 23%, rgba(31,40,51,1) 70%, rgba(11,12,16,1) 100%);
}
body{
    background: var(--background);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
}
.container{
    margin: 0 auto;
    width: 100%;
}

/* Header */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media  (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media  (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #7a70712d 1px solid;
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px ; 
}
.header h1{
    color: var(--secondry900);
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    font-weight: bold;
    font-family: "ComicSans";
}
@media (max-width:800px) {
    .header h1{
        display: none;
    }
    .header .nav{
        margin: 0 auto;
    }
}
.header h2{
    color: var(--secondry900);
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-family: "Martel";
}
@media (max-width:992px) {
    .header h2{
        display: none;
    }
}
.header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;   
}
.header .nav li{
    list-style: none;
    color:var(--gray);
    font-size: 16px;
    padding: 13px 0;
}
.header .nav li:not(:first-child){
     margin-left: 60px;
}
.header .nav a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header .nav #active{
    color: var(--secondry900);
    border-bottom: solid 2px var(--accent900);
}
/* Body */

/* Timer */
.timer{
  
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
.timer h2{
    color: var(--secondry900);
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 24px;
    font-family: "Merriweather", serif;
}
.timer h1{
    color: var(--secondry900);
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 80px;
    font-family: "Inter", sans-serif;
}
.timer .buttons{
    display: flex;
    justify-content: center;
    align-items: center
}
.timer .buttons button{
    padding: 10px 15px;
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 55px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.timer .buttons button:hover{
    transform: scale(1.2);
}

.timer .buttons #start{
    background-color: var(--accent500);
     color: #0B0C10;
}
.timer .buttons #start:active{
    background-color: var(--accent900);
}
.timer .buttons #break{
    background-color: var(--accent900);
   color: white;
}

.timer .buttons #break:active{
    background-color: var(--accent500);
}
.timer .buttons #stop{
    background-color:red;
   color: white;
}
.timer .buttons #stop:active{
    background-color:rgb(187, 1, 1);
}
.timer p{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}
/* Settings */

.settings{
    text-align: center;
}
.settings h2{
    color: var(--secondry900);
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-weight: 400;
}
.settings .choices{
    
}
.settings .choices .choice{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.settings .choices .choice p{
    color: var(--secondry900);
    text-align: center;
    font-size: 24px;
}
.settings .choices .choice input{
    margin-left: 25px;
    padding: 10px;
    width: 50px;
    background-color: transparent;
    border: 1px solid var(--secondry900);
    border-radius: 6px;
    color: #C5C6C7;
}
.settings .taskChoose{
    margin-top: 20px;
}
.settings .taskChoose label{
    display: block;
    width: 340px;
    margin: 0 auto;
    text-align: left;
    padding: 7px 5px;
    font-size: 18px;
    color: var(--secondry900);
    font-family: "merriweather";
}
.settings .taskChoose .dropDown{
    width: 340px;
    position: relative;
    color: #C5C6C7;
    font-size: 24px;
    font-family: "merriweather";
    padding:  10px 12px;
    border-radius: 6px;
    border: 3px solid var(--secondry900);
    background: var(--field-background);
    cursor: pointer;
    position: relative;
    /* Arrow */
    appearance: none;
    background-image: url("Icons/dropDown.png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.5rem auto;
    z-index: 2;
}
.settings .taskChoose ul{
    list-style: none;
    position: absolute;
    color: white;
    background-color: var(--background);
    left: 2px;
    top:54px;
    width: 99%;
    z-index: 1;
    border: 2px solid var(--secondry900);
    border-radius: 6px;
    transition: 1s;
}
.settings .taskChoose ul li{
    padding: 10px;
    font-family: "merriweather";
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
    background-color: #1F2833;
    transition: 0.2s;
    color: var(--secondry500);
}
.settings .taskChoose ul li:last-child{
    border-radius: 5px;
    border-bottom: none;
}

.settings .taskChoose ul li:hover{
    background-color: var(--secondry900);
    color: var(--primary900);
}
.diss{
    display: none;
}

/* Task Progress */
.tasksProgress{
    color: white;
    width: 100%;
    margin: 100px auto;
}
.tasksProgress h2{
    color: var(--secondry900);
    font-size: 24px;
    font-family: "Merriweather", serif;
    text-align: center;
}
.tasksProgress .tasks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 30px;
    margin-top: 40px;
}
@media (max-width:800px) {
    .tasksProgress .tasks{
        grid-template-columns: 1fr;
        margin: 50px;
    }
}

.tasksProgress .tasks .task{
    display: flex;
    background:var(--field-background);
    padding: 15px 27px;
    border-radius: 13px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--secondry900);
    border-bottom: 1px solid var(--secondry900);
    border-right: 3px solid var(--secondry900);
    border-left: 9px solid var(--secondry900) ;
    color: var(--secondry500);
    font-size: 20px;
    font-family: "merriweather";
}
.tasksProgress .tasks .task .elements{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "merriweather";
}
.tasksProgress i:active{
    transform: scale(1.2);
}
.tasksProgress i{
    transition: 0.3s;
}
/* END */

/* Icons */
.fa-arrow-up{
    cursor: pointer;
    color: var(--accent500);
}
.fa-arrow-down{
    cursor: pointer;
    color: var(--accent900);
}

